@import "~bulma/sass/utilities/initial-variables"
@import "~font-awesome/scss/font-awesome.scss"
// Config
$nb-primary: #0D2D30
$nb-primary-invert: #fff

$primary: $nb-primary
$primary-invert: $nb-primary-invert

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.hero-foot
  padding-bottom: 2em
section.description-container
  background-color: #124044
  color: #fff
  margin-top: 3em
  margin-bottom: 3em
  width: 100%
  max-width: 100%
  h3
    color: #fff
    &.pad-top
      padding-top: 3em
  div
    margin-top: 1em
    padding-bottom: 6em !important

section
  scroll-behavior: smooth
section.tldr-container
  margin-top: 3em
  padding-top: 3em
  padding-bottom: 3em
  div
    margin-top: 1em
    margin-bottom: 1em
section.description-container
  padding-top: 3em
  padding-bottom: 3em
.some-box
  background-color: #124044
  margin-top: -2em
.some-icon-container
  font-size: 3em
  text-align: center
  color: #fff
  a
    color: #fff
    &:hover
      color: blue
  .some-icon
    padding: 0.3em

.pallura-text
  margin-bottom: 15px
.pallurat-header
  margin-top: 5em
  margin-bottom: 2em
.pallurat-container
  margin-top: 20px
  margin-bottom: 20px
.footer.people-container
  margin-top: 5em
  background-color: lighten($nb-primary, 5%)
  color: $nb-primary-invert
  .person-image-block
    display: inline-block
  .person-block
    margin-top: 2em
    text-align: center
    a
      color: white
      &:hover
        color: blue
      font-size: 2em
  .title
    color: $nb-primary-invert
.point
  margin: 20px
  font-weight: bold

@import "~bulma"
